form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

label {
    font-weight: bold;
    margin-top: 20px;
}

input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

input:invalid {
    border-color: #ff0000;
}

i {
    position: absolute;
    margin: 10px;
    color: gray;
}

i {
    position: absolute;
    margin: 10px;
    color: gray;
    padding: 10px 10px 10px 40px;
    border-radius: 5px;
    border: 1px solid gray;
}

.btn btn-info {
    display: none;
}

#next {
    display: block;
}



